<div class="login-bg">
    <div class="overlay d-flex justify-content-center align-items-center">
        <div class="p-5 d-flex flex-column form-container">
            <p class="h3">Sign In</p>
            <input type="text" placeholder="Email Or Phone Number" class="form-input">
            <input type="password" placeholder="Password" class="form-input">
            <button class="main-btn" disabled title="This Part Under Development">Sign In</button>
            <div class="d-flex align-items-center mb-4">
                <input type="checkbox" class="me-2">
                <span class="form-text">Remember Me</span>
            </div>
            <div>
                <p class="form-text form-newmail">New to Movflx? <a class="white" routerLink="/signup">Sign up
                        now.</a>
                </p>
            </div>
            <div class="mb-5">
                <p class="form-text">This page is protected by Google reCAPTCHA to ensure you're not a bot. Learn
                    more.
                </p>
            </div>
        </div>
    </div>

</div>