<header class="section-bg">
    <div class="section-bg-overlay">
        <div class="container h-100">
            <div class="d-flex py-4 align-items-center justify-content-center flex-column h-100">
                <h2 class="page-head main-color">Contacts</h2>
                <p>
                    <a routerLink="/home" class="page-navigate main-hover">Home</a>
                    <span> | </span>
                    <span class="page-current-name">Contacts</span>
                </p>
            </div>
        </div>
    </div>
</header>
<div class="img-background">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-7">
                <div>
                    <h3 class="contact-head">Contact Form</h3>
                </div>
                <div class="contact-form p-lg-4 p-2">
                    <div class="d-flex justify-content-between gap-2 gap-lg-5 mb-4">
                        <input type="text" class="w-50 contact-form-field" placeholder="Your Name *">
                        <input type="email" class="w-50 contact-form-field" placeholder="Your E-mail *">
                    </div>
                    <div class="mb-4">
                        <input type="text" class="w-100 contact-form-field" placeholder="Subject *">
                    </div>
                    <div>
                        <textarea name="" id="" cols="30" rows="10" class="w-100 contact-form-field"
                            placeholder="Type Your Message"></textarea>
                    </div>
                    <div class="mt-4">
                        <a class="send-btn">SEND MESSAGE</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 ps-lg-3 mt-5 mt-lg-0">
                <div>
                    <h3 class="contact-head">Information</h3>
                </div>
                <div class="info">
                    <p class="bottom-border pb-3">
                        <span>Find solutions :</span>
                        to common problems, or get help from a support agent industry's standard .
                    </p>
                    <ul class="info-details list-unstyled">
                        <li class="mb-3 bottom-border pb-3">
                            <div class="d-flex align-items-center">
                                <div class="me-3">
                                    <div class="icon-container">
                                        <i class="fa-solid fa-location-dot"></i>
                                    </div>
                                </div>
                                <div>
                                    <span>Address : </span>Elkhosos Qalyubia Egypt
                                </div>
                            </div>
                        </li>
                        <li class="mb-3 bottom-border pb-3">
                            <div class="d-flex align-items-center">
                                <div class="me-3">
                                    <div class="icon-container">
                                        <i class="fa-solid fa-phone"></i>
                                    </div>
                                </div>
                                <div>
                                    <span>Phone : </span>(+20)1220240677
                                </div>
                            </div>
                        </li>
                        <li class="mb-3 bottom-border pb-3">
                            <div class="d-flex align-items-center">
                                <div class="me-3">
                                    <div class="icon-container">
                                        <i class="fa-solid fa-envelope"></i>
                                    </div>
                                </div>
                                <div>
                                    <span>Email : </span>abdellatifosama81@gmail.com
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="gmap_canvas"><iframe class="gmap_canvas"
            src="https://maps.google.com/maps?q=%D9%85%D9%88%D9%82%D9%81%20%D8%A7%D9%84%D8%A7%D9%88%D8%AA%D9%88%D8%A8%D9%8A%D8%B3%20%D8%A7%D9%84%D8%AE%D8%B5%D9%88%D8%B5&t=&z=13&ie=UTF8&iwloc=&output=embed"
            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a
            href="https://123movies-to.org"></a><br>
    </div>
</div>